<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CyberCloud-Timer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <!--<link rel="stylesheet" href="./custom.css" />-->
</head>

<body>
    <!-- Interface -->
    <h1 class="text-center">Configuración</h1>
    <form id="formsetting" class="mb-4">
        <div class="form-group">
            <label for="exampleInputEmail1">Dirección o nombre del servidor:</label>
            <input type="text" id="ip" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Numero del ordenador</label>
            <input type="number" id="number" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <script src="../scripts/setting.js"></script>
</body>

</html>