<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>CyberCloud-Timer</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
<link rel="stylesheet" href="./custom.css" />
  </head>
  <body>
    <!-- Interface -->
    <div id="timer">
    </div>
      <button onclick="terminar();" class="btn btn-primary btn-sm m-1">Terminar</button>
      <button onclick="siteweb();" class="btn btn-primary btn-sm m-1">WEB</button>
    <script src="../scripts/timer.js"></script><br>
  </body>
</html>
